@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<img src="~/Media/BuckingBronco.png" alt="Bucking Bronco" class="justify-content-md-center" />

<h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
